$flex: flex;
.signUp {
  margin: 0 auto;
  width: 400px;
  margin-top: 100px;
  border: 1px solid white;
  padding: 30px 20px 40px 20px;
  border-radius: 4px;
  background-color: #848181;
  text-align: center;
  #logo {
    width: 100px;
    margin: 20px 0 10px 0;
    cursor: pointer;
  }

  .welcomeText {
    margin: 5px;
    color: #e4e4e4;

    > h2 {
      font-weight: 400;
      font-size: 22px;
    }

    > p {
      font-size: 16px;
      margin: 10px 0 30px 0;
    }
  }

  .container,
  .button,
  .buttons {
    display: $flex;
  }

  .container {
    justify-content: space-between;
    width: 90%;
    margin: 20px;
    margin-bottom: 0;
    color: white;
  }

  .link {
    text-decoration: none;
    color: #001abf;
    width: inherit;
    text-align: start;
  }

  .button {
    justify-content: flex-end;
    width: 420px;
  }

  .buttons {
    width: 88%;
    margin: 0 auto 30px auto;
    align-items: center;
  }

  .inputs {
    width: 48%;
  }

  .emailContainer {
    width: 90%;
    margin: 20px;
  }

  #info {
    margin: 0 0 10px 25px;
    font-size: 12px;
    text-align: start;
    color: #141313;
  }

  @media only screen and (max-width: 600px) {
    .signUp {
      width: auto;
    }
  }
}
.alert {
  position: absolute;
  top: 0;
}
.alert div {
  height: 40px;
  transition: 0.5s;
}
