.signUp {
  margin: 0 auto;
  width: 400px;
  margin-top: 50px;
  border: 1px solid white;
  padding: 30px 20px 100px 20px;
  border-radius: 4px;
  background-color: #333;
  text-align: center;
}

#logo {
  width: 100px;
}

.container {
  width: 80%;
  margin: 20px;
  color: white;
}

.inputs {
  width: 100%;
  color: white;
}

.button {
  display: flex;
  justify-content: flex-end;
  width: 420px;
}

@media only screen and (max-width: 600px) {
  .signUp {
    width: auto;
  }
}
