.userPic {
  background-color: cornflowerblue;
  box-sizing: border-box;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}
