$main-color: rgb(255, 255, 255);
$main-background: #333;
.slidebars {
  color: $main-color;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 0;
  width: 72px;
  height: 44px;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}

.open {
  color: $main-color;
  font-size: 16px;
  padding: 0 24px;
  height: 40px;
  background-color: $main-background;
  width: 162px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slidebars:hover,
.open:hover {
  background-color: $main-background;
}

.openTitle {
  margin-left: 20px;
}

@media only screen and (max-width: 650px) {
  .slidebars {
    display: none;
  }
}
