.sideBarContainer {
  background: var(--bg-color-32);
  position: fixed;
  top: 56px;
  z-index: 1;
  height: 100%;
}

.mainContainer {
  display: flex;
}

.videosContainer {
  // margin: 60px 10px 10px 100px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
}
