.header {
  display: flex;
  color: #fff;
  height: 56px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #202020;
  justify-content: space-between;
}

.otherContainer,
.notActive {
  display: flex;
  justify-content: space-between;
}

.notActive {
  pointer-events: none;
  opacity: 0.3;
}

.logoContainer {
  padding-left: 18px;
  padding-right: 30px;
  width: 162px;
}

.logoContainer,
.newLogoContainer {
  display: flex;
  align-items: center;
}

.newLogoContainer {
  height: 56px;
  background-color: #333;
}

.icons {
  cursor: pointer;
  padding: 4px;
}

#voiceIcon {
  margin-top: -2px;
  margin-left: -5px;
}

.header img {
  width: 80px;
  margin-left: 20px;
}

.countryCode {
  color: rgb(170, 170, 170);
  font-size: 10px;
  margin-left: 2px;
  margin-top: -12px;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: -10px;
}

.header input {
  width: 562px;
  height: 26px;
  border: 1px #333 solid;
  background-color: black;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

.header input:focus {
  border: 1px solid #1c62b9;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchCont {
  margin-right: 10px;
  display: inline-block;
  height: 30px;
  width: 65px;
  text-align: center;
  background-color: rgb(48, 48, 48);
  cursor: pointer;
}

.searchIcon {
  margin-top: 6px;
  color: #6f6f6f;
}

.searchIcon:hover {
  color: #989898;
}

.signIn {
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
  border-radius: 2px;
  width: 85px;
  padding: 5px 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.userContainer {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

#userIcons {
  display: flex;
}

.dropdownContainer {
  position: relative;
  z-index: 1;
}

.displayFlex {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;
}

.displayFlex > .userIcon {
  cursor: auto;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.listItem:hover {
  background-color: #3a3a3a;
}

.userIcon {
  box-sizing: border-box;
  font-size: 22px;
  background-color: rgb(255, 166, 0);
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 0 8px;
  border-radius: 50%;
  overflow: hidden;
}

.userIcon:active {
  border: 1px solid rgb(37, 93, 245);
}

.marginNone {
  margin: 0;
  padding: 0;
}

.divider {
  color: white;
}

.iconColorGrey {
  color: grey;
  margin-left: 10px;
}

.text {
  margin: 0 0 0 15px;
  font-size: 15px;
}

.greyText {
  color: #aaaaaa;
}

.notifyTitle {
  margin: 10px;
  font-weight: 400;
  text-align: left;
}

.links {
  text-decoration: none;
  color: white;
}

.dropdown {
  margin: 0;
  padding: 0px;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 250px;
  background-color: #212121;
  border: 1px solid #393838;
  border-top: none;
  right: 45px;
  user-select: none;
}

.line {
  height: 1px;
  line-height: 1px;
  width: 100%;
  background-color: #3a3a3a;
  padding: 0;
  margin: 5px 0 5px 0;
}

#dropdownNotify {
  top: 35px;
  right: 0;
  width: 300px;
  text-align: center;
}

#bigNotifyIcon {
  margin-top: 20px;
  color: #aaaaaa;
}

@media only screen and (min-width: 660px) {
  .newLogoContainer {
    padding-left: 18px;
    padding-right: 30px;
    width: 162px;
  }
}

@media only screen and (max-width: 650px) {
  .header input {
    display: none;
  }

  .icons {
    width: 1%;
    cursor: pointer;
  }

  .logoContainer {
    width: 70%;
  }

  .userContainer {
    width: 30%;
  }

  .searchCont {
    background-color: unset;
    color: #fff;
    width: 2%;
  }

  .userContainer span {
    margin-left: 3px;
    font-size: 10px;
    align-self: center;
  }

  .newLogoContainer {
    width: 162px;
    padding: 0;
  }
}
