$flex: flex;
$center: center;

.header,
.otherContainer,
.notActive,
.logoContainer,
.newLogoContainer,
.logo,
.searchContainer,
.signIn,
.userContainer,
#userIcons,
.displayFlex,
.userIcon,
.listItem {
  display: $flex;
  align-items: $center;
}

.header {
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  opacity: 100%;
  background: var(--bg-color-32);
  color: var(--header-color);
}

.header input {
  width: 562px;
  height: 26px;
  outline: none;
  color: var(--tit-color);
  font-size: 16px;
  background: var(--bg-color);
  border: 2px solid var(--search-bord);
}

.header input:focus {
  border: 1px solid #1c62b9;
}

.otherContainer,
.notActive {
  justify-content: space-between;
  width: 70%;
}

.notActive {
  pointer-events: none;
  opacity: 0.3;
}

.logoContainer,
.newLogoContainer {
  padding: 0 30px 0 18px;
  width: 20%;
}

.newLogoContainer {
  height: 56px;
  background: var(--bg-color-32);
}

.icons {
  cursor: pointer;
  padding: 4px;
}
.badge {
  position: absolute;
  padding: 4px;
  right: -2px;
  font-size: 10px;
  font-weight: 900;
  border-radius: 50%;
  background: red;
  color: white;
}

#voiceIcon {
  margin: -2px 0 -5px 0;
}

.siteLogo {
  width: 80px;
  margin-left: 20px;
}

.countryCode {
  color: var(--font-color);
  font-size: 10px;
  margin: 0 -12px 0 2px;
  font-weight: 500;
}

.logo {
  cursor: pointer;
}

.notif {
  color: red;
}

.notReadNot,
.readNot {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: baseline;
  font-size: 13px;
}

.notReadNot{
  background: rgba(170,170,170, 0.1)
}

.searchCont {
  background: var(--search-color);
  margin-right: 10px;
  display: inline-block;
  height: 30px;
  width: 65px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--search-bord);
}

.searchIcon {
  margin-top: 6px;
  color: #6f6f6f;
}

.searchIcon:hover {
  color: var(--hov-color);
}

.signIn {
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
  border-radius: 2px;
  width: 85px;
  padding: 5px 8px;
  cursor: pointer;
  justify-content: space-between;
}

.userContainer {
  margin-right: 18px;
}

.dropdownContainer {
  position: relative;
  z-index: 1;
}

.displayFlex {
  padding: 10px 0 10px 0;
  .userIcon {
    cursor: auto;
  }
}

.listItem {
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.listItem:hover {
  background-color: var(--hov-color);
}

.userIcon {
  box-sizing: border-box;
  font-size: 22px;
  background-color: rgb(255, 166, 0);
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 0 8px;
  border-radius: 50%;
  overflow: hidden;
}

.userPhoto {
  border-radius: 50%;
  width: 32px;
  margin: 0 8px;
  &:hover {
    cursor: pointer;
  }
}

.userIcon:active {
  border: 1px solid rgb(37, 93, 245);
}

.marginNone {
  margin: 0;
  padding: 0;
}

.divider {
  color: var(--font-color);
}

.iconColorGrey {
  color: grey;
  margin-left: 10px;
}

.text {
  margin: 0 0 0 15px;
  font-size: 15px;
}

.greyText {
  color: #aaaaaa;
}

.notifyTitle {
  margin: 10px;
  font-weight: 400;
  text-align: left;
}

.links {
  text-decoration: none;
  color: var(--font-color);
}

.userInfo {
  padding-right: 10px;
}

.dropdown {
  margin: 0;
  padding: 0px;
  position: absolute;
  top: 0;
  z-index: 1;
  min-width: 250px;
  width: auto;
  background: var(--bg-color);
  border: 1px solid var(--search-bord);
  border-top: none;
  right: 45px;
  user-select: none;
}

.line {
  height: 2px;
  line-height: 1px;
  width: 100%;
  background-color: var(--search-bord);
  padding: 0;
  margin: 5px 0 5px 0;
}

#dropdownNotify {
  top: 35px;
  right: 0;
  width: 300px;
  text-align: center;
}

#bigNotifyIcon {
  margin-top: 20px;
  color: var(--font-color);
}

@media only screen and (min-width: 660px) {
  .newLogoContainer {
    padding-left: 18px;
    padding-right: 30px;
    width: 162px;
  }
}

@media only screen and (max-width: 850px) {
  .otherContainer,
  .notActive {
    width: 20%;
    margin-right: 25%;
  }
}

@media only screen and (max-width: 650px) {
  .header input {
    display: none;
  }

  .icons {
    width: 1%;
  }

  .logoContainer {
    width: 70%;
  }

  .userContainer {
    width: 30%;
  }

  .searchCont {
    background-color: unset;
    width: 2%;
  }

  .userContainer span {
    margin-left: 3px;
    font-size: 10px;
    align-self: center;
  }
}
