$main-color: var(--tit-color);
$main-background: rgb(33, 33, 33);
.sidebars {
  color: var(--header-color);
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  width: 72px;
  height: 44px;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}

.open {
  color: var(--header-color);
  font-size: 16px;
  padding: 10px 24px;
  height: 40px;
  background: var(--bg-color-32);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.sidebars:hover,
.open:hover {
  background-color: var(--hov-color);
}

.openTitle {
  margin-left: 20px;
}

@media only screen and (min-width: 660px) {
  .open {
    width: 162px;
  }
}

@media only screen and (max-width: 650px) {
  .sidebars {
    display: none;
  }
}
