.modalContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  width: 400px;
  margin: 0 auto;
  top: 30%;
  left: 30%;
  text-align: center;
  outline: none;
  padding-bottom: 10px;
}

:global(.PlaylistModal_modalContainer__1OId5 > ul) {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

:global(.PlaylistModal_modalContainer__1OId5) {
  text-align: center;
}

:global(.MuiFormControl-root.MuiTextField-root) {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.playlistContainer div {
  display: flex;
  align-items: center;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
}

.playlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.trash {
  color: #f50057;
  cursor: pointer;
}

.playlistsContainer {
  width: 100%;
  header {
    padding-top: 20px;
    padding-left: 120px;
    background-color: #181818;
    color: #f50057;
    margin-bottom: 20px;
  }
}

.welcomeText {
  color: white;
  text-align: center;
}

.playlistName {
  font-weight: 700;
  margin: 10px;
}

.emptyPage {
  margin: 100px auto;
  width: 600px;
  color: var(--font-color);
  text-align: center;
  > svg {
    margin-top: 30px;
    width: 120px;
    height: 120px;
  }
  > h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .signIn {
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
  }
}
