.errorContainer {
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
}

.errorContainer p {
  color: rgba(255, 255, 255, 0.5);
}

.errorContainer input {
  outline: none;
}

.errorContainer div {
  display: flex;
  justify-content: center;
}

.searchCont {
  margin-right: 10px;
  display: inline-block;
  height: 28px;
  width: 65px;
  text-align: center;
  background-color: rgb(48, 48, 48);
  cursor: pointer;
}

.searchIcon {
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.5);
  width: 20px;
}
