$flex: flex;

.mainContainer,
.videoContainer,
.notActive,
.openMainContainer {
  display: $flex;
  flex-wrap: wrap;
  .videoContainer,
  .notActive {
    flex-wrap: wrap;
  }
}

.videoContainer {
  z-index: 0;
  position: relative;
  width: -webkit-fill-available;

  .video video {
    width: 50px;
  }
}

.notActive {
  opacity: 0.3;
  pointer-events: none;
  justify-content: space-between;
}

.open,
.close {
  color: var(--header-color);
  position: fixed;
  top: 50px;
  height: 100%;
}

.open {
  z-index: 1;
  background: var(--bg-color-32);
  transition: 0.5s;
}

.close {
  background: var(--bg-color-32);
}

.link {
  text-decoration: none;
  cursor: pointer;
}

#noSearchResImg {
  width: 100%;
}

.openMainContainer {
  z-index: 0;
  margin: 0 auto;
  position: relative;
}

.notVisible {
  display: none;
}

@media only screen and (min-width: 760px) {
  .videoContainer,
  .notActive {
    padding-left: 72px;
    width: 1300px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) {
  .videoContainer {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 850px) {
  .videoContainer {
    justify-content: center;
  }
}
